# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sbr
*.tlog
*.aps
*.db
*.opendb
*.bsc
*.pdb
*.log
Mir3server/_Obj_Debug/GameSvr/GameSvr.res
Mir3server/_Obj_Debug/GameGate/GameGate.res
